<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <!-- 上传图片框样式，不使用上传组件可以删除此样式 -->
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }

        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }

        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 150px;
            height: 70px;
            line-height: 150px;
            text-align: center;
        }

        .avatar {
            width: 150px;
            height: 70px;
            display: block;
        }

    </style>
</head>
<body class="hold-transition">
<button @click="fetchData">加载</button>
<div id="app">

    <div class="content-header">
        <h1>管理<small>admin管理</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>管理</el-breadcrumb-item>
            <el-breadcrumb-item>admin管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>

    <div class="app-container">
        <div class="box">
            <el-form :model="admin" label-width="80px" ref="roleForm">
                <el-form-item label="成员名称" prop="loginName">
                    <el-input v-model="admin.loginName"></el-input>
                </el-form-item>
<!--                <el-form-item label="成员姓名">-->
<!--                    <el-input v-model=""></el-input>-->
<!--                </el-form-item>-->
<!--                <el-form-item label="邮箱地址">-->
<!--                    <el-input v-model="" show-password></el-input>-->
<!--                </el-form-item>-->
                <el-form-item label="账户角色">
                    <el-select v-model="roleIds" placeholder="请选择角色" multiple>
                        <el-option
                                v-for="item in roleList"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
<!--                <el-form-item label="登录密码" >-->
<!--                    <el-input id="pswd1" v-model="" placeholeder="请设置密码" show-password></el-input>-->
<!--                </el-form-item>-->
                <el-form-item label="确认密码" prop="password">
                    <el-input id="pswd2" placeholeder="两次密码保持一致" v-model="admin.password"></el-input>
                </el-form-item>
                <el-form-item label="账号状态" style="display: none">
                    <el-input id="status" v-model="admin.status" value="1"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
                    <el-button @click="resetForm('roleForm')">重置</el-button>
                </el-form-item>
            </el-form>


            <div class="add-form">
                <!--弹出窗口-->
                <el-dialog title="编辑" :visible.sync="formVisible">
                    <el-form label-width="80px">
                        <el-form-item label="用户名">
                            <el-input v-model="pojo.loginName"></el-input>
                        </el-form-item>
                        <el-form-item label="密码">
                            <el-input v-model="pojo.password"></el-input>
                        </el-form-item>
                        <el-form-item label="状态">
                            <el-input v-model="pojo.status"></el-input>
                        </el-form-item>

                        <!-- 图片上传代码 如页面有图片上传功能放开注释 ****
                        <el-form-item label="图片">
                            <el-upload
                                    class="avatar-uploader"
                                    action="/upload/native.do"
                                    :show-file-list="false"
                                    :on-success="handleAvatarSuccess"
                                    :before-upload="beforeAvatarUpload">
                                <img v-if="imageUrl" :src="imageUrl" class="avatar">
                                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                            </el-upload>
                        </el-form-item>
                        -->

                        <el-form-item>
                            <el-button type="primary" @click="save()">保存</el-button>
                            <el-button @click="formVisible = false">关闭</el-button>
                        </el-form-item>
                    </el-form>
                </el-dialog>
            </div>

        </div>
    </div>


</div>
</body>
<script src="/js/vue.js"></script>
<script src="/js/axios.js"></script>
<script src="/js/elementui.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                tableData: [],
                pojo: {},
                formVisible: false,
                imageUrl: '',
                admin: {},
                roleIds: [],
                templateList: [],
                roleList: []
            }
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                axios.get(`/role/findAll.do`).then(response => {
                    this.roleList = response.data;
                    this.admin.status='1';
                });
            },
            submitForm() {
                axios.post(`/admin/addAdmin.do`,{admin: this.admin,roleIds: this.roleIds}).then(response => {
                    if(response.data.code==0){
                        this.$message({
                            message: response.data.message,
                            type: 'success'
                        });
                    }else {
                        this.$message({
                            message: response.data.message,
                            type: 'error'
                        });
                    }
                })
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
                this.admin.status=1;
            }
            /* ****图片上传相关代码  如页面有图片上传功能放开注释 ****
            handleAvatarSuccess(res, file) {
                this.imageUrl = file.response;
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            }*/
        }
    })
</script>
</html>
