# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target
*/target
qingcheng_service_goods/src/main/resources/db.properties
qingcheng_web_manager/src/main/webapp/img/*
qingcheng_common_web/src/main/resources/applicationContext-config.xml
*/db.properties
qingcheng_common_web/src/main/resources/applicationContext-json.xml
